<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://m.media-amazon.com/images/S/pv-target-images/b9f4dd7d3f9fa2cb36c757c7aecb690e8fc416e4165eb2d68d5fbdb837a19541.jpg" alt="" height="200px" width="400px">
  </div>
  <div class="big-card__title">
    <h1><a href="">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="">
        Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Ipsa dolorem iusto voluptas ab illo possimus similique quidem 
        dicta rerum earum corrupti ullam, aspernatur doloremque dolore obcaecati, architecto, excepturi 
        consequuntur.Amet autem pariatur minima doloremque? Possimus libero ipsum in facere consequatur?
      </a>
    </p>
  </div>
</div>