<div class="container__small-card">

  <div class="container__small_card_content">
    <div class="small-card__photo">
      <img src="https://images-eu.ssl-images-amazon.com/images/S/pv-target-images/0393aff2ef3474c5a32f418bcbe6d67a04975157242451aeb0622b94be07f243._RI_TTW_.jpg" alt="" height="" width="">
    </div>
    
    <div class="small-card__title">
      <h1><a href="">Saiu a nova versão do Angular</a></h1>
    </div>
  </div>

  <div class="container__small-card__separator">
    <hr>
  </div>

</div>



